*{
    padding: 0%;
    margin: 0%;
    text-align: center;
    box-sizing: border-box;

}



body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}


.card {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.31);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 40%;
    height: 70%;
}

.card img {
    padding-top: 60px;
    padding-bottom:20px;
    width: 360px;
    display: flex;
    margin: auto;
    transition: transform 0.3s ease;
    filter: drop-shadow(15px 5px 5px rgb(40, 179, 218));
}

.card text{
   
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center; 
}

.text p{
    color: #ffff;   
    font-family: "Philosopher", sans-serif;
    line-height: 1;
    padding: 0 20px;
}


.card img:hover{
    transform: scale(1.2);
}

.text2 {
    position: absolute;
    top: 10px; 
    right: 10px; 
    padding: 10px; 
    font-family: 'Philosopher', sans-serif;
    font-size: 20px; 
    color: floralwhite;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;

    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    transition: transform 0.3s;
}

nav ul li:hover{
    transform: scale(1.2);
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}


#video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 67%;
    min-height: 67%;
    z-index: -1;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
} 
    
#dateContainer {
    position: absolute;
    top: 20px; 
    right: 20px; 
    color: white; 
    font-family: 'Philosopher', sans-serif; 
    font-size: 16px; 
}

/* CSS untuk elemen login */
.login-container {
    display: none;
    position: absolute;
    top: 100%; /* Menempatkan elemen login di bawah tautan "Login" */
    left: 0;
    margin-left: auto; /* Mengatur elemen login ke tengah */
    margin-right: auto; /* Mengatur elemen login ke tengah */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; /* Menambahkan padding agar elemen login lebih besar */
    border-radius: 5px; 
    z-index: 999; /* Pastikan elemen login berada di atas elemen lain */
    width: 200px; /* Lebar elemen login */
    text-align: center;
    
}

/* CSS untuk menampilkan elemen login saat tautan "Login" dihover */
nav ul li:nth-child(3):hover .login-container {
    display: block;
    margin-bottom: 30px;
}

/* CSS untuk membuat tampilan login yang lebih baik */
.login-container input,
.login-container button {
    display: block;
    margin-bottom: 30px; /* Menambahkan margin antara input dan tombol */
}

.login-container button {
    width: 50%; /* Lebar tombol */
    padding: 5px; /* Padding tombol */
    font-size: 10px; /* Ukuran font tombol */
    
}

.login-container button {
    width: 50%; /* Lebar tombol */
    padding: 5px; /* Padding tombol */
    font-size: 10px; /* Ukuran font tombol */
    margin: 0 auto; /* Menempatkan tombol di tengah */
}

/* CSS untuk elemen input */
.login-container input[type="text"],
.login-container input[type="password"] {
    display: block;
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
}

/* CSS untuk memberi efek hover pada input */
.login-container input[type="text"]:hover,
.login-container input[type="password"]:hover {
    border-color: #333;
}

/* CSS untuk memberi efek focus pada input */
.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

